<p id="notice"><%= notice %></p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Add a movie", class: "btn btn-primary" %>
  <%= link_to "↩️ Back", lists_path , class: 'btn btn-danger' %>
<% end %>
